@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.body {
  background-color: #dedede;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.page__title {
  color: black;
  margin: 0;
}
.table-container {
  border: 1px solid #555;
  background-color: #eee;
}

.page__link {
  text-decoration: none;
  transition: opacity 0.2s ease;
}
.page__link:hover {
  opacity: 0.6;
}
